@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400;9..144,500;9..144,600;9..144,700;9..144,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
.container{
    width: 100%;
}
header{
    width: 1440px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    width: 50%;
}
.left img{
    height: 26px;
    width: 236px;
}
.right{
    width: 35%;
}
.right ul{
    height: 100%;
    line-height: 80px;
}
.right ul li{
    float: left;
    width: 33%;
    list-style: none;
    text-align: center;
}
.right ul li a{
    text-decoration: none;
    color: #83888F;
    font-size: 12px;
    letter-spacing: 0.92px;
}
.right ul li a:hover{
    text-decoration: underline;
}
main{
    width: 100%;
}
.section-1{
    width: 1440px;
    height: 600px;
    margin: 0 auto;
    background-image: url(../img/Bitmap.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.left-1{
    width: 30%;
    color: #fff;
}
.left-1 h1{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 72px;
    width: 493px;
}
.left-1 p{
    font-weight: 400;
    line-height: 26px;
    margin: 30px 0;
}
#create{
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    background: #0E8784;
    padding: 15px;
    border-radius: 6px;
    font-family: 'Fraunces', serif;
}
.right-1{
    width: 30%;
}

.section-2{
    width: 1280px;
    height: 524.55px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.coffee{
    text-align: center;
}
.coffee h3{
    font-size: 24px;
    font-weight: 900;
}
.coffee img{
    margin: 20px 0;
}
.coffee p{
    width: 255px;
    height: 78px;
    line-height: 26px;
    padding-top: 20px;
}
.paragraph-3{
    margin-top: 10px;
}

.section-3{
    width: 1440px;
    height: 728px;
    margin: 0 auto;
}
.choose{
    width: 100%;
    height: 577px;
    background-color: #293039;
    border-radius: 10px;
}
.choose__top{
    text-align: center;
    width: 540px;
    height: 160px;
    margin: 0 auto;
    top: 50px;
    position: relative;
    color: #fefcf7;
}
.choose__top h2{
    font-size: 40px;
    margin: 15px;
    font-family: 'Fraunces', serif;
}
.choose__top p{
    line-height: 26px;
}
.specs{
    width: 1110px;
    height: 382px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.specs-border{
    text-align: center;
    color: #fefcf7;
    padding: 20px;
    width: 350px;
    background: #0E8784;
    position: relative;
    bottom: 200px;
    height: 100%;
    border-radius: 10px;
}
.specs-border img{
    margin: 30px;
}
.specs-border h3{
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 30px;
}
.specs-border p{
    text-align: center;
    position: relative;
    left: 20px;
    line-height: 26px;
    width: 255px;
}
#pa-3{
    margin-top: 50px;
}
.section-4{
    position: relative;
    top: 50px;
    width: 1045px;
    height: 675px;
    margin: 0 auto;
}
.section-4 h3{
    position: relative;
    top: 80px;
    color: #83888F;
    text-align: left;
    font-size: 24px;
}
.ovals{
    width: 760px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 165px;
}
.path{
    display: flex;
    justify-content: space-between;
    border: 1px solid #FDD6BA;
    width: 760px;
    position: relative;
    top: 150px;
}
.work{
    width: 255px;
}
.section-4__numbers{
    position: relative;
    top: 250px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.section-4__number{
    text-align: left;
    width: 30%;
    height: 295px;
}
.section-4__number h3{
    position: relative;
    top: 15px;
    color: #000;
    width: 255px;
    font-weight: 900;
    font-size: 32px;
}
.section-4__number p{
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin-top: 30px;
}
.top{
    position: relative;
    top: 60px;
}
footer{
    position: relative;
    top: 200px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 500px;
}
.footer__content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 1280px;
    height: 120px;
    background-color: #2C343E;
    margin-bottom: 30px;
}
.footer-links{
    width: 622px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__links-1{
    display: flex;
    align-items: center;
}
.footer-link{
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
    margin: 0 10px;
    font-size: 12px;
}
.footer__socials{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
}
@media (max-width: 768px) {
    .container{
        margin: 0 auto;
        max-width: 768px;
        width: 100%;
        height: 3949px;
    }
    header{
        align-items: center;
        width: 689px;
        margin: 0 auto;
    }
    .fa-bars::before{
        display: none;
    }
    .right{
        width: 60%;
        align-items: center;
    }
    .section-1{
        position: relative;
        left: 5px;
        width: 689px;
        margin: 0 auto;
        background-size: cover;
    }
    .left-1 p{
        width: 398px;
    }
    .section-2{
        position: relative;
        top: 200px;
        height: 927px;
        width: 689px;
        margin: 0 auto;
        flex-direction: column;
    }
    .coffee{
        display: flex;
    }
    .coffee-text p{
        text-align: start;
    }
    .section-3{
        width: 688px;
        margin: 0 auto;
        position: relative;
        top: 400px;
        left: 5px;
    }
    .specs{
        width: 689px;
        flex-direction: column;
        margin: 0 auto;
    }
    .specs-border{
        position: relative;
        left: 30px;
        width: 573px;
        margin: 30px;
        text-align: left;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 180px;
    }
    .specs-text p{
        width: 344px;
        text-align: left;
    }
    .specs-text h3{
        font-family: 'Fraunces' serif;
        position: relative;
        left: 20px;
    }
    .section-4{
        top: 600px;
        width: 689px;
        margin: 0 auto;
    }
    .work{
        position: relative;
        left: 250px;
        text-align: center;
    }
    .section-4__numbers{
        position: relative;
        left: 10px;
        align-items: center;
    }
    .section-4__number{
        width: 230px;
        margin: 0 auto;
    }
    .section-4__number h3{
        width: 223px;
    }
    .ovals{
        margin: 0 auto;
        width: 467px;
    }
    .path{
        margin: 0 auto;
        width: 467px;
    }
    footer{
        width: 100%;
    }
    .footer__content{
        padding: 10px;
        position: relative;
        top: 200px;
        left: 20px;
        width: 689px;
        margin: 0 auto;
        flex-direction: column;
    }
}

@media (max-width: 375px) {
    .container{
        max-width: 375px;
        width: 100%;
    }
    header{
        width: 327px;
    }
    .left img{
        width: 140px;
    }
    .right ul{
        display: none;
    }
    main{
        margin: 0 auto;
        max-width: 375px;
        width: 100%;
    }
    .section-1{
        width: 327px;
        background-size: cover;
        height: 500px;
        display: block;
    }
    .left-1{
        text-align: center;
        width: 100%;
    }
    .left-1 p{
        width: 279px;
    }
    .left-1 h1{
        font-size: 40px;
        font-family: 'Fraunces', serif;
        width: 279px;
    }
    .left-1 a{
        width: 217px;
        height: 56px;
        font-size: 18px;
    }
    .section-2{
        position: relative;
        top: 200px;
        width: 327px;
        height: 1321px;
        flex-direction: column;
    }
    .coffee{
        margin: 20px 0;
        display: block;
    }
    .section-3{
        position: relative;
        top: 400px;
        margin: 0 auto;
        height: 1499px;
        width: 327px;
    }
    .choose{
        width: 327px;
        margin: 0 auto;
        position: relative;
    }
    .choose__top{
        width: 300px;
        margin: 0 auto;
    }
    .specs{
        width: 327px;
        position: relative;
        right: 30px;
        top: 100px;
        margin: 0 auto;
        flex-direction: column;
    }
    .specs-border{
        text-align: center;
        width: 300px;
        height: 382px;
        position: relative;
        top: 100px;
        left: 45px;
        margin: 30px 0;
        display: block;
    }
    .specs-border h2{
        margin: 0 auto;
        font-size: 28px;
        width: 279px;
    }
    .specs-border p{
        width: 212px;
        font-size: 15px;
    }
    .specs-text p{
        text-align: center;
    }
    .specs-text h3{
        left: 0;
    }
    .section-4{
        text-align: center;
        margin: 0 auto;
        position: relative;
        top: 400px;
        height: 1116px;
        width: 327px;
    }
    .ovals{
        display: none;
    }
    .path{
        display: none;
    }
    .section-4 h3{
        text-align: center;
    }
    .section-4__numbers{
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }
    .section-4__number{
        text-align: center;
        width: 327px;
        margin: 30px 0;
    }
    .section-4__number h3{
        margin: 0 auto;
        width: 327px;
    }
    .top{
        top: 20px;
    }
    footer{
        position: relative;
        top: 600px;
        display: block;
        width: 100%;
    }
    .footer__content{
        width: 327px;
        margin: 0 auto;
        flex-direction: column;
        height: 346px;
    }
    .footer-links{
        width: 327px;
        margin: 0 auto;
        flex-direction: column;
    }
    .footer__links-1{
        width: 327px;
        margin: 0 auto;
        flex-direction: column;
    }
    .footer__links-1 a{
        margin: 20px 0;
    }
}